body {
  background-color:#ff3131;
  font-family: Monospace, sans-serif;
  font-size: 16px;
}
#btnSwitch {
  color: white;
  width: 70px;
  padding: 0.69rem;
  background-color: #3b3a88;
  border-radius: 3px;
  cursor: pointer;
}
